/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {

    background-color: #323333;
    background-color: #251919;
    background-color: #191a1a;
    background-color: #1c1c1c;

}

h1{
font-family: "IBM Plex Sans", sans-serif;
}


.mapHeader {

    color: whitesmoke;
    position: absolute;
    font-size: 2rem;
left: 36%;
top: 10%;
z-index: 100;
line-height: 112%;

opacity: .8;
font-family: "IBM Plex Sans", sans-serif;

}

#beltPercent{

    background-color: white;


}
.center {

margin: auto;
width: 700px;
font-family: "IBM Plex Sans", sans-serif;
font-weight: thin;
/*font-family: "IBM Plex Serif";*/
/*font-weight: 400;*/
font-size: 1.3rem;
color: whitesmoke;
margin-top: 2%;
margin-bottom: 3%;
}


.white {

color: #333333;


}


select {

padding: 30px;
padding-left: 25px;
width: 300px;
height: 50px;


}


.mapSelect{

position: absolute;
left: 10%;
top: 10%;
z-index: 100;
color: #333333;
opacity: .8;
font-family: "IBM Plex Sans", sans-serif;
font-weight: 900;
font-size: 1.4rem;
background-color: #333333;;

}


.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}




.centerMin {

margin: auto;
width: 70%;
/*background-color: green;*/
/*height: auto;*/
}


img.centerMin {
/**/
    display: block;
    width: 40%;
        filter: invert(90%);
       mix-blend-mode: difference;

    /*height: auto;*/
}



.header {

font-family: "IBM Plex Mono", sans-serif;
/*position: absolute;*/
/*top: 10%;*/
/*width:80%;*/
/*left:10%;
*/
/*line-height: 80%;*/
text-align: center;
/*text-decoration: underline;*/
/*text-decoration-line: red;*/
line-height: 40%;
font-size: 9rem;
font-weight: 900;
margin: auto;
min-width: 100%;
/*background-blend-mode: difference;*/
color: whitesmoke;
}




.subHeader {

/*position: absolute;*/
/*top: 26%;
left:12%;*/
margin: auto;
line-height: 100%;
text-align: center;
font-size: 2.9rem;
font-weight: 400;
font-family: "IBM Plex Serif";
font-style: italic;
margin-bottom: 2%;
margin-top: 2%;

color: whitesmoke;

}




.panel {

background-color: whitesmoke;
        width: 100%;
        min-height: 100vh;
        margin:auto;



}


.dark {



}


.buttonFlex {

position: absolute;
top: 19%;
left: 4%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.deptButton {

/*    position: relative;
    display: inline;*/
    z-index: 100;
    /*border: dashed gray;*/
    margin:auto;
    left: 10%;
    width: 200px;
    height: 50px;
    background-color:whitesmoke;
    color: black;
    font-weight: 900;
    font-family: "IBM Plex Sans", sans-serif;
    border-radius: 4px;
    padding: 2%;
    opacity: .7;
    margin: 4px;
    font-size: 1.3rem;
    transition: all .2s ease;
    text-align: center;

}   

.deptButton:hover{

    color: whitesmoke;
  background-color:#333333;
  width: 210px;

}


.anno{

        font-size: 20px;
        padding-left: 50px;
        color: black;
    font-weight: 900;
    font-family: "IBM Plex Sans", sans-serif;

}


.annoItal{

        font-size: 12px;
        color: black;
        font-style:italic;
    font-weight: 700;
    font-family: "IBM Plex Sans", sans-serif;

}



 .map {
        /*position: ;*/
        top: 0;
        /*bottom: 0;*/
        width: 100%;
        min-height: 90vh;
        margin:auto;
        margin-bottom: 2%;

      }




.dropbtn {
    background-color: whitesmoke;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 10%;
    position: absolute;
left: 10%;
top: 10%;
z-index: 100;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 25%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: .8;
}

.dropdown-content a {
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: darkgray;






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
