/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {

    background-color: #323333;
    background-color: #251919;
    background-color: #191a1a;
    background-color: #1c1c1c;
    background-color: #2b2b2b;


    background-color: #262626;



}



h1{
font-family: "Signika", sans-serif;
/*font-family: "IBM Plex Sans", sans-serif;*/

line-height: 100%;
font-size: 2.1rem;
font-weight: 100;
}


.mapHeader {

    color: whitesmoke;
    position: absolute;
    font-size: 2rem;
left: 36%;
top: 10%;
z-index: 100;
line-height: 112%;

opacity: .8;
font-family: "IBM Plex Sans", sans-serif;

}

#initial {

font-size: .8rem;
font-weight: 200;
padding-top: 10%;
font-family: "IBM Plex Sans", sans-serif;
/*color: red;*/
color: rgba(255,255,255,.5);
/*margin-top: 5%;*/

}

#initialLower {
font-size: .9rem;
font-weight: 200;
padding-left: 5%;
font-family: "IBM Plex Sans", sans-serif;
/*color: red;*/
color: rgba(255,255,255,.5);
/*margin-top: 5%;*/
text-align: center;
padding-top: 1%;


}

#beltPercent{

    background-color: white;


}
.center {

margin: auto;
width: 700px;
font-family: "IBM Plex Sans", sans-serif;
font-family: "Fira Sans", sans-serif;
font-weight: thin;
/*font-family: "IBM Plex Serif";*/
/*font-weight: 400;*/
font-size: 1.3rem;
color: whitesmoke;
margin-top: 2%;
margin-bottom: 3%;
font-weight: 200;
padding-bottom: 2%;
}


.center a {

    text-decoration: none;
    border-bottom: 3px solid black;
/*font-weight: bold;*/
color: black;
font-weight: 400;
transition: ease .1s


}

.center a:visited {

font-weight: bold;
    color: black;


}

.center a:hover {

    text-decoration: none;
    border-bottom: 4.5px solid white;
/*font-weight: bold;*/
    color: black;


}

#visTool {

/*eight: 40px;*/
width: 22%;
margin:auto;
/*border: dashed lightgray 1px;*/
padding: 1%;
 position: absolute;

/* left: 50%;
top: 50%;*/
z-index: 99;
/*margin-top: -18%;*/
/*margin-bottom: 40%;*/
font-family: "IBM Plex Sans", sans-serif;
font-size: .7em;
font-weight: 300;
padding-left: 1%;
background-color: whitesmoke;
opacity: 0;
border-radius: 5px;



}


#typed1{

font-family: "IBM Plex Sans", sans-serif;
font-size: 3rem;
margin: 0;
width: 50%;
font-weight: 800;
padding-left: 1%;
color: whitesmoke;

}

.intro a {

color: whitesmoke;
    border-bottom: 3px solid white;



}
.intro a:hover {
  text-decoration: none;
    border-bottom: 4.5px solid white;
/*font-weight: bold;*/
    color: white;


}




.intro a:visited {

font-weight: bold;
    color: white;


}












.inl {
display: inline;

}


.about {

padding-top: 3%;
text-align: center;
font-size: 1.7rem;

}




.white {

color: #333333;


}


select {

padding: .5% 1% .5% 1% ;
padding-left: 25px;
background-color: #333333;
color: white;
font-weight: 900;
font-size: 1.7rem;
transition: all .2s ease;
font-family: "IBM Plex Sans", sans-serif;
-webkit-appearance:none;

/*width: 800px;*/
/*height: 30px;*/

/*text-align:center*/
}


select:hover {

background-color: white;
color: #333333;


}


#inds {
width: 40%;
height: 50px;
margin: 0 auto;
/*left: 40%;*/
/*display: inline;*/
margin-top: 3%;
display: block;

/*padding-top: 400px;*/
}




.mapSelect{

position: absolute;
left: 10%;
top: 10%;
z-index: 100;
color: #333333;
opacity: .8;
font-family: "IBM Plex Sans", sans-serif;
font-weight: 900;
font-size: 1.4rem;
background-color: #333333;;

}


.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}




.centerMin {

margin: auto;
width: 70%;
/*background-color: green;*/
/*height: auto;*/
}



@keyframes imgAni {

0% {

/*filter: hue-rotate(0deg) saturate(100%) blur(50px);*/
    /*background: linear-gradient(to right, #453B51, #CFC1FE);*/
opacity: 0;

filter: drop-shadow(-1000px 0px 17px lightblue)  drop-shadow( -300px 0px 14px lightyellow) drop-shadow( -500px 0px 100px purple) drop-shadow( 500px 0px 30px lightgreen)  drop-shadow( 300px 0px 14px yellow)  drop-shadow( -200px 0px 8px lightyellow) ;
/*mix-blend-mode: multiply;*/
/*width: 60%;*/
    /*width: 30%;*/


}

30%{


/*filter: drop-shadow(0px 0px 2px lightblue);*/
opacity:.9;
filter: drop-shadow(-10px 0px 6px lightblue)  drop-shadow( 30px 0px 4px lightyellow) drop-shadow( 50px 0px 10px pink) drop-shadow( -100px 0px 30px lightgreen);


/*filter: drop-shadow(0px 0px 0px lightblue)  drop-shadow( 0px 0px 0px lightyellow) drop-shadow( 0px 0px 0px pink) drop-shadow( 0px 0px 0px lightgreen);*/

/*width: 40%;*/
    /*background: linear-gradient(to right, red, #CFC1FE);*/


    /*width: 40%;*/


}


100% {

 opacity:1;   

}

}


#imgCont{


      /*background-blend-mode: darken;*/
      /*mix-blend-mode: darken;*/


}

img.centerMin {
/**/
margin-top: 4%;
    display: block;
    width: 40%;
    /*position: absolute;*/
    /*animation: imgAni, 2s;*/
    overflow: hidden;

   opacity: .9;
    /*animation-direction: initial;*/
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
       animation-name: imgAni;
    animation-duration: 3s;

/*mix-blend-mode: difference;*/

    /*background: linear-gradient(to top, #333333, black);*/


    /*filter: hue-rotate(-180deg);*/
        /*filter: invert(80%);*/
       /*mix-blend-mode: darken;*/

    /*height: auto;*/
}






.header {

font-family: "IBM Plex Sans", sans-serif;
/*font-family: "Signika", sans-serif;*/
/*font-family: "Neuton", Serif;*/

/*position: absolute;*/
/*top: 10%;*/
/*width:80%;*/
/*left:10%;
*/
/*line-height: 80%;*/
text-align: center;
/*text-decoration: underline;*/
/*text-decoration-line: red;*/
/*line-height: 80%;*/
font-size: 5.8rem;
font-weight: 900;
margin: auto;
min-width: 100%;
/*background-blend-mode: difference;*/
color: whitesmoke;
/*border-bottom: 7.5px solid rgba(255,0,255,.2);*/
/*border-bottom: 7.5px solid whitesmoke;*/
/*border-left: 3.5px dashed rgba(0,255,255,.8);*/

}

.bord {
border-bottom: 10.5px dashed #F2ED5C;


}



.subHeader {

/*position: absolute;*/
/*top: 26%;
left:12%;*/
margin: auto;
line-height: 100%;
text-align: center;
font-size: 2.6rem;
font-weight: 100;
font-family: "IBM Plex Serif";
/*font-family: "Fira Sans", sans-serif;*/
/*font-family: "Signika", sans-serif;*/
font-style: italic;
margin-bottom: 2%;
margin-top: 3%;
width: 50%;

/*color: whitesmoke;*/

}

.darkText {

color: whitesmoke;
opacity: .8;
/*font-style: normal;*/
font-size: 2.5rem;

}

span.darkText{

    display: inline;

}

#spread{
        /*text-align: right;*/
margin: auto;
/*padding-left: 10%;*/
width: 50%;
/*border: dashed red;*/

}


h1.darkText {

        /*display: inline;*/
        text-align: center;
        margin:auto;

}



.colorCont {

width: 40%;
height: auto;
margin: auto;
font-family: "IBM Plex sans-serif", sans-serif;
font-weight: 600;
font-size: .9rem;
text-align: center;


}


.bway {

color: red;
opacity: .9;
font-style: normal;
/*display: inline-block;
margin: auto;
width: 10%;
float: center;
text-align: center;*/
}

.nonBway {

color: lightblue;

}

.whiteText {

color: #333333;
font-weight: 900;

}


.subSub {

/*position: absolute;*/
/*top: 26%;
left:12%;*/
margin: auto;
line-height: 100%;
text-align: center;
font-size: .9rem;
font-weight: 400;
font-family: "IBM Plex Sans";
font-style: italic;
margin-bottom: 2%;
/*margin-top: 5%;*/

/*color: whitesmoke;*/

}

#arrow {

    font-size: 1.5rem;
font-weight: bold;
position: relative;
top: 10px;

}


.agencyName

{

font-family: "Signika", sans-serif;
font-size: 2rem;
margin:  4%;

}


h2.agencySub{

font-family: "Signika", sans-serif;
font-family: "IBM Plex Sans", sans-serif;
font-size: 1.1rem;
font-weight: 400;
margin:  .5%;
margin-bottom: 2.4%;
font-style: italic;
width: 100%;
 text-align: center;

/*display: inline-block;*/


}

/*
#vbarDiv {

margin-bottom: 0;

}*/


#vendors5 {

/*display: inline;*/
/*border: 2px red;*/
/*border: solid 1px whitesmoke;*/

/*background-color: red;*/
}


#vendorCircle {

/*background-color: green;*/


}


.ban {

font-family: "Signika", sans-serif;
font-size: 3.1rem;
font-weight: 900;
line-height: 10%;
 text-align: center;

/*margin: auto;*/
/*margin-top: 50%;*/

}


.agencyFlex {
display: flex;
width: 100%;
/*flex-direction: column;*/
justify-content: center;
background-color: #262626;
margin-top: -1%;

}

.agencyFlexItem {

width: 30%;
/*height: auto;*/
/*height: 100px;*/
background-color: "lightgray";
margin: .3% 1% .9% 1%;
padding: 0% 2% .9% 2%;
height: auto;
border: solid 1px whitesmoke;
border-radius: 3px;

/*border: dashed gray 2px;*/


}

.agencyFlexItem p, h2 {

color: white;

}

ul

{

color: white;



}


li {

color: white;


}

.panel {

background-color: whitesmoke;
background-color: rgb(224, 223, 217);

        width: 100%;
        min-height: 100vh;
        margin:auto;
        /*margin-bottom: 4%;*/


}



.five {

width: 50%;
margin: 2%;
height: 10%;
border: solid 1px whitesmoke;
border-radius: 3px;

/*display: flex;*/
/*border: 2px red;*/
/*flex-direction: column;*/
/*justify-content: left;*/

}

.fiveContainer {

display: flex;
flex-direction: horizontal;
/*border: solid 1px whitesmoke;*/
margin-top: 0;
}


/*.five div {

width: 10%;

}*/

ul {
  list-style-type: square;
}




.dark {

/*background-color: #2b2b2b;*/
background-color: #262626;

}


.buttonFlex {

position: absolute;
top: 19%;
left: 4%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.deptButton {

/*    position: relative;
    display: inline;*/
    z-index: 100;
    /*border: dashed gray;*/
    margin:auto;
    left: 10%;
    width: 200px;
    height: 50px;
    background-color:whitesmoke;
    color: black;
    font-weight: 900;
    font-family: "IBM Plex Sans", sans-serif;
    border-radius: 4px;
    padding: 2%;
    opacity: .7;
    margin: 4px;
    font-size: 1.3rem;
    transition: all .2s ease;
    text-align: center;

}   

.deptButton:hover{

    color: whitesmoke;
  background-color:#333333;
  width: 210px;

}

.sidePanel {


position: absolute;
/*top: 0%;*/
left: 0%;

/*    position: relative;
    display: inline;*/
    z-index: 100;
    /*border: dashed gray;*/
    margin:auto;
    width: 30%;
    height: 99vh;
    background-color:rgba(33,33,33,.7);
    color: whitesmoke;
/*
    color:rgba(0,0,0,.8);
    background-color: rgba(255,255,255,.8);
*/

    font-weight: 400;
    font-family: "Signika", sans-serif;
    font-family: "IBM Plex Sans", sans-serif;

    line-height: 100%;
    border-radius: 4px;
    padding: 2%;
    margin: 4px;
    font-size: 1.3rem;
    transition: all .5s ease;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    /*text-align: center;*/

}   

.sidePanel p {

    font-family: "Signika", sans-serif;
        /*font-family: "IBM Plex Mono", sans-serif;*/
    font-size: 2.2rem;
    font-weight: 800;
    /*display: inline;*/
    padding-left: 10%;
    margin-bottom: 2px;
    margin-top: 15px;
        transition: all .5s ease;

    /*margin: 1%;*/



}


.sidePanel h4 {

  margin-bottom: 4px;
  display: inline;
  font-size: .9rem;
border-bottom: .5px solid rgba(255,255,255,.8);
color: rgba(255,255,255,.8);
font-weight: 800;
line-height: 20%;


}

.sidePanel p.small {

    font-size: .8rem;
    font-weight: 100;

}

.sidePanel h1 {

font-family: "Neuton", Serif;
font-family: "Fira Sans", sans-serif;
font-family: "IBM Plex Sans", sans-serif;
font-weight: 800;
font-size: 3rem;
margin-bottom: -10%;
padding: 2%;
  text-align: center;

border-width: .1px;
border-style: dotted;
/*border-radius: 1px;*/
border-color: rgba(255, 255, 255,.3);
}


.icon{


    color: whitesmoke;
    font-size: 2.2rem;
}


.iconSmall{


    color: whitesmoke;
    opacity: .5;
    font-size: 1.4rem;
transform: translateY(5px);
}

.panelFlex {

display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: top;
flex-wrap: wrap;

}


.sideItem {

width: 50%;
margin-bottom: 9%;
/*margin: 5%;*/
/*box-shadow: 3px 3px 4px rgba(255,255,255,.3);*/
/*transition: ease .5s;*/
/*border: dashed gray .2px;*/
/*margin: 0;*/
}

.bottomPanel {


position: absolute;
bottom: 0px;
left: 40%;

/*    position: relative;
    display: inline;*/
    z-index: 100;
    /*border: dashed gray;*/
    /*margin:auto;*/
    width: 60%;
    height: 18vh;
    /*background-color:rgba(33,33,33,.3 );*/
    color: whitesmoke;
/*
    color:rgba(0,0,0,.8);
    background-color: rgba(255,255,255,.8);
*/

    font-weight: 900;
    font-family: "Signika", sans-serif;
    font-family: "IBM Plex Sans", sans-serif;

    line-height: 100%;
    border-radius: 4px;
    padding: 2%;
    margin: 4px;
    font-size: 1.3rem;
    transition: all .5s ease;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    /*text-align: center;*/
    display: flex;

}   



.barAnno line{

stroke: white;
}

.barAnno path {

stroke: white;
}

.barAnno text {

        font-size: 12px;
        fill: white;
    font-weight: 900;
    font-family: "Signika", sans-serif;

}


#pie {

width: 100px;
margin: auto;
}
.pieHighlight {

    color: #1f78b4;
    font-weight: bold;
    /*text-decoration: underline;*/
    font-style: none;
}



.barAxis{

        font-size: 11px;
        fill: white;
        fill: rgb(237, 237, 237);
        background: pink;
        stroke-color: white;
    font-weight: 400;
    font-family: "Signika", sans-serif;

}


.barAxisTitle{

       fill: white;
        stroke-color: white;
    font-weight: 800;
    font-family: "Signika", sans-serif;
        font-size: 14px;

}













.anno{

        font-size: 20px;
        padding-left: 50px;
        color: black;
    font-weight: 900;
    font-family: "IBM Plex Sans", sans-serif;

}

.annoDark{

        font-size: 13px;
        /*padding-left: 50px;*/
        fill: whitesmoke;
    font-weight: 400;
    font-family: "IBM Plex Sans", sans-serif;

}

.b {
font-weight: bold;


}

.annoDarkRect{

        font-size: 15px;
        padding-left: 20px;
        margin-left: 20px;
        /*padding-left: 50px;*/
     /*   color: green;
        stroke: green;*/
        fill: white;
    font-weight: 400;
    font-family: "IBM Plex Sans", sans-serif;

}




.annoItal{

        font-size: 12px;
        color: black;
        font-style:italic;
        fill: white;
    font-weight: 300;
    font-family: "IBM Plex Sans", sans-serif;

}



 .map {
        /*position: ;*/
        top: 0;
        /*bottom: 0;*/
        width: 100%;
        min-height: 100vh;
        margin:auto;
        margin-bottom: 2%;

      }

#agencyLess {

margin: 0;

}



.keyDiv {

opacity: 0;
position: absolute;
position: absolute;
bottom: 22vh;
right: 10%;

/*    position: relative;
    display: inline;*/
    z-index: 100;
    /*border: dashed gray;*/
    /*margin:auto;*/
    width: 10%;
    min-height: 1vh;
    /*background-color:rgba(33,33,33,.3 );*/
    background: linear-gradient(to right, #453B51, #CFC1FE);
/*
    color:rgba(0,0,0,.8);
    background-color: rgba(255,255,255,.8);
*/

    font-weight: 900;
    font-family: "Signika", sans-serif;
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 100%;
    border-radius: 4px;
    padding: .11%;
    /*margin: 2px;*/
    font-size: 1rem;
  /*  transition: all .5s ease;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    /*text-align: center;*/
    display: flex;*/



}

.keyText {
/*opacity: 0;*/

position: absolute;
bottom: 24vh;
right: 10%;

/*    position: relative;
    display: inline;*/
    z-index: 100;
    /*border: dashed gray;*/
    /*margin:auto;*/
    width: 12%;
    min-height: 1vh;
    /*background-color:rgba(33,33,33,.3 );*/
    /*background: linear-gradient(to right, #453B51, #CFC1FE);*/
/*
    color:rgba(0,0,0,.8);
    background-color: rgba(255,255,255,.8);
*/text-align:justify;
    text-align-last: justify;

width: 10%;

    font-weight: 400;
    font-family: "Signika", sans-serif;
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 100%;
    border-radius: 4px;
    padding-left: 100px;
    color: white;
    font-style: italic;
    /*display: block;*/
    /*text-align: justify;*/
    /*align:justify;*/
    /*margin: 2px;*/
    font-size: .8rem;
  /*  transition: all .5s ease;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    /*text-align: center;*/
    display: flex;




}

.vis {

opacity: 1;

}













.dropbtn {
    background-color: whitesmoke;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 10%;
    position: absolute;
left: 10%;
top: 10%;
z-index: 100;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 25%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: .8;
}

.dropdown-content a {
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: darkgray;






/* ==========================================================================
   Helper classes
   ========================================================================== 

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




@media only screen and (max-width: 600px) {



    .bottomPanel {

opacity: 0;

position: absolute;
bottom: 0px;
left: 40%;

/*    position: relative;
    display: inline;*/
    z-index: 100;
    /*border: dashed gray;*/
    /*margin:auto;*/
    width: 60%;
    height: 18vh;
    /*background-color:rgba(33,33,33,.3 );*/
    color: whitesmoke;
/*
    color:rgba(0,0,0,.8);
    background-color: rgba(255,255,255,.8);
*/

    font-weight: 900;
    font-family: "Signika", sans-serif;
    font-family: "IBM Plex Sans", sans-serif;

    line-height: 100%;
    border-radius: 4px;
    padding: 2%;
    margin: 4px;
    font-size: 1.3rem;
    transition: all .5s ease;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    /*text-align: center;*/
    display: flex;

}   
 

.sidePanel p {

    font-family: "Signika", sans-serif;
        /*font-family: "IBM Plex Mono", sans-serif;*/
    font-size: .9rem;
    font-weight: 800;
    /*display: inline;*/
    padding-left: 10%;
    margin-bottom: 4px;
        transition: all .5s ease;

    /*margin: 1%;*/



}


.center {

margin: auto;
width: 90%;
font-family: "IBM Plex Sans", sans-serif;
font-family: "Fira Sans", sans-serif;
font-weight: thin;
/*font-family: "IBM Plex Serif";*/
/*font-weight: 400;*/
font-size: 1.3rem;
color: whitesmoke;
margin-top: 2%;
margin-bottom: 3%;
margin-left: 6%;
margin-right: 6%;
font-weight: 200;
padding-bottom: 2%;
}



.ban{
font-size: 2rem;

}




.white {

color: #333333;


}

.whiteText {

color: #333333;
font-weight: 900;

}


.about {

padding: 3%;
text-align: center;
font-size: 1.7rem;

}




.sidePanel h4 {

  margin-bottom: 1px;
  display: inline;
  font-size: .5rem;
display:inline;
/*border-bottom: 1.1px solid rgba(255,255,255,.8);*/
color: rgba(255,255,255,.99);
/*color: red;*/
font-weight: 100;


}

.sidePanel h1 {

font-family: "Neuton", sans-Serif;
font-weight: 100;
font-size: .5rem;
margin-bottom: -10%;
padding: 2%;
  text-align: center;

/*border-width: .1px;*/
/*border-style: dotted;*/
/*border-radius: 1px;*/
/*border-color: rgba(255, 255, 255,.3);*/
}




.sidePanel {


position: absolute;
/*top: 0%;*/
left: 0%;

/*    position: relative;
    display: inline;*/
    z-index: 100;
    /*border: dashed gray;*/
    margin:auto;
    width: 30%;
    height: 99vh;
    background-color:rgba(33,33,33,.7);
    color: whitesmoke;
/*
    color:rgba(0,0,0,.8);
    background-color: rgba(255,255,255,.8);
*/

    font-weight: 400;
    font-family: "Signika", sans-serif;
    font-family: "IBM Plex Sans", sans-serif;

    line-height: 100%;
    border-radius: 4px;
    padding: 2%;
    margin: 4px;
    font-size: .8rem;
    transition: all .5s ease;
    box-shadow: 3px 3px 5px rgba(0,0,0,.2);
    /*text-align: center;*/

}   

.sidePanel p {

    font-family: "Signika", sans-serif;
        /*font-family: "IBM Plex Mono", sans-serif;*/
    font-size: .8rem;
    font-weight: 800;
    /*display: inline;*/
    padding-left: 10%;
    margin-bottom: 2px;
    margin-top: 15px;
        transition: all .5s ease;

    
}
    .sidePanel p.small {

    font-size: .5rem;
    font-weight: 300;

}

}


